:root > * {
    --md-code-hl-number-color: white;
    --md-code-hl-special-color: white;
    --md-code-hl-function-color: white;
    --md-code-hl-constant-color: white;
    --md-code-hl-keyword-color: white;
    --md-code-hl-string-color: white;
    --md-code-hl-name-color: white;
    --md-code-hl-operator-color: white;
    --md-code-hl-punctuation-color: white;
    --md-code-hl-comment-color: white;
    --md-code-hl-generic-color: white;
    --md-code-hl-variable-color: white;
    --md-code-hl-tag-color: white;
    --md-typeset-code-color: white;
}

.md-search {
display: none;
}

/* Main content */
.md-content__inner {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.md-header__inner {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

/* Top navigation tabs */
.md-tabs .md-grid {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

/* Code block background */
.md-typeset pre > code {
    background-color: #1E2129;
}

.topology-hidden-title {
    display: none;
}

.topology-hidden-title + .d2 {
    margin-top: 0;
}